<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">

            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <ol class="breadcrumb pull-right">
                            <li><a href="#">CRM</a></li>
                            <li class="active">Partner ship details</li>
                        </ol>
                        <h4 class="page-title"><b>builder partnership comes here</b></h4>
                    </div>
                </div>
            </div>


            <!-- Wizard with Validation -->

            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box">

                       
                        <form action="#">
                            <div id="wizard-validation-form">
                                <h3>Details</h3>
                                <section>
                                    <div class="form-group clearfix">
                                        <label class="control-label " for="userName2">Organisation Type </label>
                                        <div class="">
                                            <input class="form-control" name="org_type" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group clearfix">
                                        <label class="control-label " for="password2"> Business Name</label>
                                        <div class="">
                                            <input name="business_name" type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group clearfix">
                                        <label class="control-label " for="password2"> ABN</label>
                                        <div class="">
                                            <input name="business_name" type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group clearfix">
                                        <label class="control-label " for="password2"> Customer number</label>
                                        <div class="">
                                            <input name="business_name" type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group clearfix">
                                        <label class="control-label " for="password2"> Executive Contact FirstName/Surname/office/fax/mobile/email(FT)</label>
                                        <div class="">
                                            <input name="business_name" type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group clearfix">
                                        <label class="control-label " for="password2"> Administration Contact First Name/Surname/office/fax/mobile/email.</label>
                                        <div class="">
                                            <input name="business_name" type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group clearfix">
                                        <label class="control-label " for="password2"> Business Address</label>
                                        <div class="">
                                            <input name="business_name" type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group clearfix">
                                        <label class="control-label " for="password2"> Postal Address</label>
                                        <div class="">
                                            <input name="business_name" type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group clearfix">
                                        <label class="control-label " for="password2"> Traderspec Offered</label>
                                        <div class="">
                                            <input name="business_name" type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group clearfix">
                                        <label class="control-label " for="password2"> Dwellings Build Per Yr</label>
                                        <div class="">
                                            <input name="business_name" type="text" class="form-control">
                                        </div>
                                    </div>

                                    
                                    
                                </section>
                                <h3>Payments</h3>
                                <section>

                                    <div class="row">
                                        <div class="col-md-12">Payment details will be there</div>
                                    </div>

                                </section>
                                <h3>Partnership</h3>
                                <section>
                                    <div class="row">
                                        <div class="col-md-12">Partnership will be there</div>
                                    </div>
                                </section>
                                <h3>History</h3>
                                <section>

                                    <div class="row">
                                        <div class="col-md-12">History will be there</div>
                                    </div>

                                </section>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- End row -->

            
        </div>
        <!-- end container -->
    </div>
</div>