<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">

            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <ol class="breadcrumb pull-right">
                            <li><a href="#">CRM</a></li>
                            <li class="active">Partner ship details</li>
                        </ol>
                        <h4 class="page-title"><b>builder partnership comes here</b></h4>
                    </div>
                </div>
            </div>


            <!-- start row -->
            <div class="row">
	            <div class="col-sm-12">
	                <div class="card-box table-responsive">

	                    <p></p>
	                    
	                </div>
	            </div>
	        </div>
            
        </div>
        <!-- end container -->
    </div>
</div>