<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">

            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <ol class="breadcrumb pull-right">
                            <li><a href="#">CRM</a></li>
                            <li class="active">Builder details</li>
                        </ol>
                        <h4 class="page-title"><b>builder details comes here</b></h4>
                    </div>
                </div>
            </div>


            <!-- start row -->
            <div class="row">
	            <div class="col-sm-12">
	                <div class="card-box table-responsive">

	                    <a routerLink="/builder/partnership/1" class="btn btn-primary waves-effect w-md waves-light m-b-5">Partnership</a>

	                    <a routerLink="/payment/builder/1" class="btn btn-success waves-effect w-md waves-light m-b-5">Payment</a>

	                    <a routerLink="/report/builder/1" class="btn btn-danger waves-effect w-md waves-light m-b-5">Reporting</a>
	                    
	                </div>
	            </div>
	        </div>
            
        </div>
        <!-- end container -->
    </div>
</div>