<!-- Top Bar Start -->
<div class="topbar">

    <!-- LOGO -->
    <div class="topbar-left">
        <div class="text-center">
            <a href="/admin/dashboard" class="logo"><i class="md md-equalizer"></i> <span>CRM</span> </a>
        </div>
    </div>

    <!-- Navbar -->
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="">
                <div class="pull-left">
                    <button class="button-menu-mobile open-left waves-effect">
                        <i class="md md-menu"></i>
                    </button>
                    <span class="clearfix"></span>
                </div>

                <div class="pull-right">
                    
                        <button class="button-menu-mobile open-left waves-effect" (click)="_auth.logout()">
                            <i class="md md-settings-power"></i> Logout
                        </button>                    
                </div>

            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
<!-- Top Bar End -->