
<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">


        <div id="sidebar-menu">

            <ul>
                <li>
                    <a href="index.html" class="waves-effect waves-primary"><i class="md md-dashboard"></i><span> Dashboard </span></a>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect waves-primary collapsed active" data-toggle="collapse" data-target="#products" ><i class="md md-palette"></i> <span> First </span>
                     <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="ui-buttons.html">Buttons</a></li>
                        <li><a href="ui-panels.html">Panels</a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect waves-primary collapsed active" data-toggle="collapse" data-target="#products" ><i class="md md-palette"></i> <span> Second </span>
                     <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="ui-buttons.html">Buttons</a></li>
                        <li><a href="ui-panels.html">Panels</a></li>
                    </ul>
                </li>

            </ul>
            <div class="clearfix"></div>
        </div>

        <div class="clearfix"></div>
    </div>
<!-- 
    <div class="user-detail">
        <div class="dropup">
            <a href="" class="dropdown-toggle profile" data-toggle="dropdown" aria-expanded="true">
                <img  src="assets/images/users/avatar-2.jpg" alt="user-img" class="img-circle">
                <span class="user-info-span">
                    <h5 class="m-t-0 m-b-0">John Deo</h5>
                </span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="javascript:void(0)"><i class="md md-face-unlock"></i> Profile</a></li>
                <li><a href="javascript:void(0)"><i class="md md-settings"></i> Settings</a></li>
                <li (click)="_auth.logout()"><a href="javascript:void(0)"><i class="md md-settings-power"></i> Logout</a></li>
            </ul>

        </div>
    </div> -->
</div>
<!-- Left Sidebar End --> 